.rightalign {
    justify-content: center;
    align-items: center;
}
span {
    display: inline-block;
}
button {
    background-color: #097969;
    color: hsla(0, 100%, 100%, 0.95);
    border: none;
    border-radius: 15%;
    display: inherit;
}
button:hover {
    background-color: darkGreen;
   
    color: hsla(0, 100%, 97%, 0.95);

}
#jsadd {
    margin-left: 3em;
}
/*#jsadd, #jssub, #jsmul, #jsdiv {
  display: none;  
}*/
p {
    display: inherit;
}